# GraphQL Codegen output
src/graphql/generated/

# testing
/coverage
**/__snapshots__/
**/test_snapshots/
jest-results.json

# next.js
/.next/
/out/

# production
/build

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
tsconfig.temp.json

# cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/fixtures/example.json

# misc
.DS_Store
*.pem
